.header-side {
    background-color: #8C2703;
    color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 108px;
    margin: 0;
    align-items: center;
    justify-content: space-around;
}

.header-buttons {
    color: #000000;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.header-buttons a {
    margin: 16px;
}

.header-categories {
    background-color: #BFA7A4;
    color: #000000;
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.header-categories a:link, a:visited {
    padding: 14px 25px;
    text-align: center;
    color: #000000;
    text-decoration: none;
    display: inline-block;
    margin: 0;
}

.header-categories a:hover, a:active {
    background-color: rgb(156, 150, 148);
}

.header-search input {
    background-color: white;
    /* background-image: url(/images/icons/search-icon.png); */
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 18px;
    padding-left: 40px;
    border: 0;
    border-radius: 5px;
    height: 28px;
    text-shadow: white 0px 0px 2px;
    background-size: 20px;
}

.dropdown-menu {
    background-color: #8C2703;
    color: #ffffff !important;
 }

 .dropdown-menu > a{
    color: #ffffff !important;
    margin: 1%;

 }

 .dropdown-menu > a:hover{
    background:rgba(255, 0, 0, 0.5) !important;
 }

 .header {
    position: sticky;
	top: 0;
    z-index: 1000;
 }
