body {
    border: 0;
    padding: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

html {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100vh;
}

.content {
  width: 100%;
  height: 58.5%;
  margin-top: 3%;
}

.parent {
    display: flex;
    flex-wrap: wrap;
  }

.child {
  width: calc(25% - 10px);
  margin-left: 10px;
  margin-top: 10px;
}

.img-product-index {
  position: relative;
}

.header-categories button {
  background-color: transparent;
  color: black;
  border: 0;
}

.header-categories button:hover {
  background-color: rgb(156, 150, 148);
}
