<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
    <title>Masterer</title>
</head>
<body>
    <div class="content">
        <div class="form-content">
            <div class="form-inputs">
                <h1>Cadastro</h1>
                <p>Preencha os dados abaixo
                    para começar.</p>
                <input type="text" class="input-texto" id="nome" name="nome" placeholder="Nome">
                <input type="text" class="input-texto" id="sobrenome" name="sobrenome" placeholder="Sobrenome">
                <input type="text" class="input-texto" id="email" name="email" placeholder="E-mail">
                <input type="text" class="input-texto" id="senha" name="senha" placeholder="Senha">
                <input type="button" class="form-button" value="Concluir Cadastro">
            </div>
        </div>
        <div class="image-content"></div>
    </div>
</body>
</html>