<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Header/index.css">
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="../Footer/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
    <title>Masterer</title>
</head>
<body>
    <div class="header">
        <div class="header-side">
            <div class="header-buttons">
                <a href="" target="_blank" rel="alternate">
                    <img src="../../icons/person-icon.png" alt="Usuario" width="25px" height="25px">
                </a>
                <a href="" target="_blank" rel="alternate">
                    <img src="../../icons/fone-icon.png" alt="Contato" width="25px" height="25px">
                </a>
                <a href="" target="_blank" rel="alternate">
                    <img src="../../icons/sale-icon.png" alt="Carrinho" width="25px" height="25px">
                </a>
            </div>
            <div class="header-center">
                <a href="" target="_self" rel="alternate">
                    <img src="../../icons/masterer-icon.png" alt="Masterer" >
                </a>
            </div>
            <div class="header-search">
                <input type="text" id="search-product" name="search-product">
            </div>
        </div>
        <div class="header-categories">
            <a href="http://" id="homepage" target="_blank" rel="alternate">HOME</a>
            <a href="http://" id="colecoes" target="_blank" rel="alternate">COLEÇÕES</a>
            <a href="http://" id="camisetas" target="_blank" rel="alternate">CAMISETAS</a>
            <a href="http://" id="regatas" target="_blank" rel="alternate">REGATAS</a>
            <a href="http://" id="moletons" target="_blank" rel="alternate">MOLETONS</a>
        </div>
    </div>

    <div class="content">

        <div class="banner"></div>
    </div>

    <div class="footer">
        <div class="footer-social">
            <a href="" target="_self" rel="alternate">
                <img src="../../icons/masterer-icon.png" alt="Masterer" >
            </a>
            <div class="footer-social-links">
                <a href="" target="_blank" rel="alternate">
                    <img src="../../icons/insta-icon.png" alt="Instagram" width="30px" height="30px">
                </a>
                <a href="" target="_blank" rel="alternate">
                    <img src="../../icons/face-icon.png" alt="Facebook" width="30px" height="30px">
                </a>
                <a href="" target="_blank" rel="alternate">
                    <img src="../../icons/tweeter-icon.png" alt="Tweeter" width="30px" height="30px">
                </a>
            </div>
        </div>

        <div class="footer-info">
            <div class="footer-info-contato">
                <h3>Contato</h3>
                <a href="http://" id="atendimento" target="_blank" rel="alternate">Atendimento</a>
                <a href="http://" id="fale_conosco" target="_blank" rel="alternate">Fale Conosco</a>
                <a href="http://" id="duvidas" target="_blank" rel="alternate">Dúvidas</a>
            </div>
            <div class="footer-info-duvidas">
                <h3>Dúvidas</h3>
                <a href="http://" id="politica_privacidade" target="_blank" rel="alternate">Política de Privacidade</a>
                <a href="http://" id="politica_trocas" target="_blank" rel="alternate">Política de Trocas</a>
                <a href="http://" id="pagamento" target="_blank" rel="alternate">Pagamento e Envio</a>
            </div>
            <div class="footer-info-newsletter">
                <h3>Receba novidades</h3>
                <label for="newsletter-input">Assine e receba todas as novidades em primeira mão:</label>
                <input type="text" id="newsletter-input" name="newsletter-input">
            </div>

        </div>
    </div>
</body>
</html>